* {
    margin: 0;
}

.parent {
    background-image: url(./assets/image.png);
    /* position: fixed; */
    min-width: 100%;
    min-height: 200vh;
    background-size: 100%;
    background-position: center;
}



